# =========================
# BD AND SECRETS
# =========================
config/pgdata/
.env
.env.*
*.env

# =========================
# BACK
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
db.sqlite3
backend/media/
backend/staticfiles/

# =========================
# FRONT
# =========================
node_modules/
frontend/dist/
frontend/build/
npm-debug.log
yarn-error.log
yarn-debug.log*

# =========================
# ОС ТА РЕДАКТОРИ КОДУ
# =========================
.DS_Store
.vscode/
.idea/
*.swp
