# БАЗИ ДАНИХ ТА СЕКРЕТИ
config/pgdata/
.env

# BACKEND (Python / Django)
backend/django-conf/venv/
backend/django-conf/env/
backend/django-conf/__pycache__/
backend/django-conf/*.pyc
backend/django-conf/db.sqlite3

# FRONTEND (React)
frontend/node_modules/
frontend/dist/
frontend/build/

# ОС ТА РЕДАКТОРИ КОДУ
.DS_Store
.vscode/
.idea/